$color-attribution: hsl(228, 45%, 44%);
$color-gray-500: #6B6B6B;
$color-gray-950: #111111;
$color-white: #FFFFFF;
$color-yellow: #F4D04E;

$space-4px: 0.25rem;
$space-8px: 0.5rem;
$space-12px: 0.75rem;
$space-20px: 1.25rem;
$space-24px: 1.5rem;

$radius4px: 0.25rem;
$radius10px: 0.625rem;
$radius20px: 1.25rem;

$max-content-width: 24rem;

:root {
  @font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 800;
    font-style: normal;
  }
}

@mixin text-preset-1 {
  font-family: Figtree, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0;
}

@mixin text-preset-2 {
  font-family: Figtree, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: Figtree, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
}

@mixin text-preset-3-bold {
  font-family: Figtree, sans-serif;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-yellow;
  padding: $space-20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.attribution a {
  color: $color-attribution;
}

.card {
  box-shadow: 5px 5px 0 0 $color-gray-950;
  border: 1px solid $color-gray-950;
  border-radius: $radius20px;
  background-color: $color-white;
  padding: $space-24px;
  max-width: $max-content-width;
  display: flex;
  flex-direction: column;
  row-gap: $space-24px;
}

.cardAuthorBar {
  display: flex;
  flex-direction: row;
  column-gap: $space-12px;
}

.cardAuthorBarImage {
  border-radius: 100%;
  height: 32px;
  width: 32px;
}

.cardAuthorBarLabel {
  color: $color-gray-950;

  @include text-preset-3-bold;
}

.cardContent {
  display: flex;
  flex-direction: column;
  row-gap: $space-12px;
}

.cardContentCategory {
  border-radius: $radius4px;
  background-color: $color-yellow;
  padding: $space-4px $space-8px;
  max-width: fit-content;
  display: block;
  color: $color-gray-950;

  @include text-preset-3-bold;
}

.cardContentDate {
  color: $color-gray-950;

  @include text-preset-3;
}

.cardContentText {
  margin: 0;
  color: $color-gray-500;

  @include text-preset-2;
}

.cardContentTitle {
  margin: 0;
  border-radius: $space-4px;
  border: 1px solid $color-white;
  color: $color-gray-950;
  cursor: pointer;

  @include text-preset-1;
}
.cardContentTitle:hover {
  color: $color-yellow;
}
.cardContentTitle:focus-visible {
  border: 1px solid $color-gray-950;
  color: $color-yellow;
  outline: none;
}

.cardImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
}